services:
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    ports:
      - "5438:5432"
    environment:
      POSTGRES_USER: reservei
      POSTGRES_PASSWORD: reservei
      POSTGRES_DB: reservei
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
