name: Deploy Application - App Reservei

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Build application
        run: npm run build

      - name: Deploy to Production
        env:
          NEXT_PUBLIC_BASE_DOMAIN: ${{ secrets.NEXT_PUBLIC_BASE_DOMAIN }}
          NEXT_PUBLIC_ADMIN_SUBDOMAIN: ${{ secrets.NEXT_PUBLIC_ADMIN_SUBDOMAIN }}
          NEXT_PUBLIC_PUBLIC_SUBDOMAIN: ${{ secrets.NEXT_PUBLIC_PUBLIC_SUBDOMAIN }}
        run: |
          # Add your deployment script here
          echo "Deploying application..."